.dropdown {
    display: inline-block;
}

.dropdown button {
    background-color: rgb(219, 219, 219);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.dropdown a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}

.dropdown .content {
    display: none;
    position: absolute;
    background-color: rgb(211, 211, 211);
    min-width: 100px;
    box-shadow: 2px 7px 5px rgb(161, 161, 161);
}

.dropdown:hover .content {
    display: block;
}

.dropdown:hover button {
    background-color: rgb(190, 190, 190);
}

.dropdown a:hover {
    background-color: rgb(133, 133, 133);
}