* {
    box-sizing: border-box;
}
.box {
    background-color: white;
    border: 2px solid;
    padding: 25px;
    height: auto;
    width: 50%;
    float: left;

    min-height: 50%;
}

.container {
    background-color: gray;
    height: 100vh;
}