.container {
    display: flex;
    border: 10px solid black;
    height: 90vh;
    align-items: flex-end;
    column-gap: 5em;
    row-gap: 5em;
}

.box {
    width: 150px;
    height: 150px;
    font-size: 8em;
    text-align: center;
    border-radius: 15px;
}
#box1 { 
    background-color: red;
}
#box2 {
    background-color: yellow;
}
#box3 {
    background-color: green;
}
#box4 {
    background-color: lightblue;
}