.gallery {
    display: inline-block;
    border: 1px solid darkgray;
    margin: 5px;
}

.gallery .description {
    padding: 10px;
    text-align: center;
}

.gallery:hover {
    border: 1px solid hsl(0, 0%, 27%);
}

.gallery img {
    width: 100%;
    height: auto;
}