.pagination {
    text-align: center;
}

.pagination a{
    color: black;
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;
}

.pagination a.active {
    background-color: hsl(0, 0%, 74%);
    font-weight: bold;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: hsl(0, 0%, 55%);
    border-radius: 5px;
}