@font-face {
    font-family: new_name_for_the_font;
    src: url("relative_path_to_the_font_file.ttf");
}

h1 {
    font-family: Verdana;
}

p {
    font-family: "Roboto","lucida console", "courier new";
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
}