#box1 {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    position: relative;

}

#box2 {
    width: 100px;
    height: 100px;
    background-color: orange;
    position: absolute;
}
