div {
    background-color: red;
    width: 250px;
    height: 100px;
    display: inline-block;
    visibility: hidden;
}

span {
    background-color: blue;
    width: 250px;
    height: 100px;
    display: inline-block;
}