body {
    margin: 0px;
}
#box1 {
    width: 250px;
    height: 250px;
    border: 5px solid black;
    font-size: 13em;
    text-align: center;
    background-color: green;

    transform: rotateX(95deg);
}